@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CadUP</h1>
    <p class="lead">Sejam bem-vindos ao CadUP, o sistema de cadastro de usuários e produtos!</p>
    <p>Clique no botão abaixo e faça o seu login!</p>
    @using (Html.BeginForm("Login", "Account", FormMethod.Get))
    {
        <input type="submit" value="Login" class="btn btn-primary btn-lg">
        
    }

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cadastrando usuários</h2>
        <p>
            Ao clicar no botão abaixo será possível acessar a tela de cadastro de seus usuários.
        </p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Get))
        {
            <input type="submit" value="Cadastrar usuário" class="btn btn-primary btn-lg">

        }
    </div>
    <div class="col-md-6">
        <h2>Cadastrando produtos</h2>
        <p>Ao clicar  no botão abaixo será possível acessar a tela de cadastro de seus produtos.</p>
        @using (Html.BeginForm("Index", "Produtos", FormMethod.Get))
        {
            <input type="submit" value="Cadastrar produto" class="btn btn-primary btn-lg">

        }
    </div>
</div>